.element-invisible
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus
  clip: auto
  height: auto
  margin: 0
  overflow: visible
  position: static
  width: auto

.animate
  +transition(all .2s ease)

=font-size($sizeValue: 16)
  font-size: ($sizeValue) + px
  font-size: ($sizeValue / 16) + rem

.clearfix
  +pie-clearfix()

.tac
  text-align: center

=hide-text()
  text-indent: 100%
  white-space: nowrap
  overflow: hidden

.hide-text
  display: block
  +hide-text()

.hidden
  display: none !important

.spin:before
  +animation(spin 3s linear 0s infinite)

+keyframes(spin)
  from
    +transform(rotate(0deg))
  to
    +transform(rotate(360deg))

.btn
  display: inline-block
  padding: .7em 2em
  margin-bottom: 10px
  min-width: 180px
  +font-size(14)
  font-weight: 600
  text-align: center
  text-transform: uppercase
  border-width: 1px
  border-style: solid
  border-color: transparent
  +border-radius(3px)

.btn-primary
  background: $white
  +link-colors($black, $black)
  &:hover
    background: $white-dark
  &:active
    background: $white-darker

.btn-hollow
  background: none
  border: 1px solid $white
  +link-colors($white, $black)
  &:hover
    background: $white

.btn-hollow-dark
  background: none
  border: 1px solid $black
  +link-colors($black, $white)
  &:hover
    background: $black

.btn-hollow-light
  background: none
  border: 1px solid $white
  +link-colors($white, $black)
  &:hover
    background: $white

.at:before
  content: '@'

.dot:before
  content: '.'