.nav
  position: fixed
  display: table
  z-index: 100
  +breakpoint(0 $screen-sm)
    width: 100%
    bottom: 0
    background: $black
    border-top: 1px solid $gray
  +breakpoint($screen-sm)
    right: 1em
    height: 100%
  ul
    display: table-cell
    vertical-align: middle
    margin: 0
    padding: 0
    list-style: none
    text-align: center
    li
      +breakpoint(0 $screen-sm)
        display: inline-block
        margin: 0 1em
      +breakpoint($screen-sm)
        display: block
    a
      display: block
      margin: .5em 0
      width: 52px
      padding: 5px
      border: 2px solid $white
      border-radius: 50%
      +font-size(30)
      color: $white
      opacity: .5
      &:hover, &.active
        color: $white
        opacity: 1

#home
  position: relative
  z-index: 1
  max-width: 750px
  padding-left: 1em
  padding-right: 1em
  width: 100%
  margin-left: auto
  margin-right: auto
  height: 100%
  min-height: 100%
  text-align: center
  color: $white-light
  h2
    +font-size(37)
    margin-top: 0
    margin-bottom: 10px
    font-weight: 400
    +breakpoint($screen-sm)
      margin-bottom: 0
      +font-size(46)
  p
    +font-size(18)
    font-weight: 400
  strong
    color: $white
  .btn
    margin: 10px

.container
  display: table-cell
  width: 600px
  +breakpoint($screen-sm)
    vertical-align: middle

.wrapper
  display: table
  width: 100%
  height: 100%

.modal-bg,
  display: none

.modal-bg
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: $black
  opacity: .8
  z-index: 5

#about, #work
  position: relative
  display: table
  margin: 0 auto
  min-height: 100%
  height: 100%
  max-width: 700px
  width: 100%
  color: $white-light
  z-index: 10
  +font-size(15)
  border-radius: 3px
  +box-shadow(0 2px 8px $black)

#work
  +breakpoint(0 $screen-sm)
    margin: 100px 0

.about-container, .work-container
  display: table-cell
  vertical-align: middle

.about-picture,
.about-image
  margin: 2em auto
  padding: 2px
  width: 100px
  border: 2px solid white
  border-radius: 50%

.about-name
  +font-size(25)
  margin: .5em 0 1em

.about-details
  margin-top: 0
  margin-bottom: 0
  padding-left: 0
  li
    width: 100%
    padding: 0 2em
    +breakpoint($screen-sm)
      padding: 0 .5em
    list-style-type: none
    text-align: left
    margin: 0 0 2em
    font-weight: 600
    +breakpoint($screen-xs)
      width: 48%
    &:nth-child(odd)
      float: left
    &:nth-child(even)
      float: right
    &:first-child
      float: none
      width: 100%
      p
        margin-bottom: 0
    span
      text-transform: uppercase
      font-weight: 600
      display: block
      +font-size(12)
      opacity: .4
      margin-bottom: 5px
    a
      color: $white-light
      border-bottom: 1px dotted $primary-darker
      font-weight: 600
      &:hover
        color: $primary

.work-list
  padding: 0 2em
  list-style: none
  &:hover a
    opacity: .2
  li
    border-bottom: 1px solid $black-lighter
    &:last-child
      border: none
    a
      display: table
      width: 100%
      color: $white-light
      &:hover
        opacity: 1 !important

.title, .role
  display: table-cell
  padding: 2em 1em 2em 0

.title
  width: 70%
  +font-size(20)

.role
  +font-size(18)