.intro
  position: relative
  z-index: 1
  max-width: 750px
  padding-left: 1em
  padding-right: 1em
  width: 100%
  margin-left: auto
  margin-right: auto
  height: 100%
  text-align: center
  color: $white-light
  h2
    +font-size(37)
    margin-top: 0
    margin-bottom: 10px
    font-weight: 400
    +breakpoint($screen-sm)
      margin-bottom: 0
      +font-size(46)
  p
    +font-size(18)
    font-weight: 400
  strong
    color: $white
  .btn
    margin: 10px

.container
  display: table-cell
  width: 600px
  vertical-align: middle

.wrapper
  display: table
  width: 100%
  height: 100%

.modal-bg,
  display: none

.modal-bg
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: $black
  opacity: .8
  z-index: 5

.about, .work
  position: relative
  margin: 0 auto 13em
  max-width: 700px
  width: 100%
  color: $white-light
  z-index: 10
  +font-size(15)
  border-radius: 3px
  // overflow-y: auto
  +box-shadow(0 2px 8px $black)

.about-wrap
  padding: 2em

.about-picture,
.about-image
  margin: 2em auto
  padding: 2px
  width: 100px
  border: 2px solid white
  border-radius: 50%

.about-name
  +font-size(25)
  margin: .5em 0 1em

.about-details
  margin-top: 0
  margin-bottom: 0
  padding-left: 0
  li
    width: 100%
    padding: 0 .5em
    list-style-type: none
    text-align: left
    margin: 0 0 2em
    font-weight: 600
    +breakpoint($screen-xs)
      width: 48%
    &:nth-child(odd)
      float: left
    &:nth-child(even)
      float: right
    &:first-child
      float: none
      width: 100%
      p
        margin-bottom: 0
    span
      text-transform: uppercase
      font-weight: 600
      display: block
      +font-size(12)
      opacity: .4
      margin-bottom: 5px
    a
      color: $white-light
      border-bottom: 1px dotted $primary-darker
      font-weight: 600
      &:hover
        color: $primary

.work-list
  padding: 0 2em
  list-style: none
  &:hover a
    opacity: .2
  li
    border-bottom: 1px solid $black-lighter
    &:last-child
      border: none
    a
      display: table
      width: 100%
      color: $white-light
      &:hover
        opacity: 1 !important

.title, .role
  display: table-cell
  padding: 2em 0

.title
  width: 40%
  +font-size(20)

.role
  +font-size(18)